POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgresq_password
POSTGRES_DB=db_name

SPRING_DATASOURCE_URL=datasource_url
SPRING_DATASOURCE_USERNAME=datasource_username
SPRING_DATASOURCE_PASSWORD=datasource_password